<!DOCTYPE html>
<html>
  <head>
    <title>День дня</title>
    <link rel="shortcut icon" href="favicon.png" type="image/png">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="prototypes_<%= action_name %> <%= @prototype && @prototype.persisted? ? 'prototype_body_' + @prototype.id.to_s : '' %>">
    <%= yield %>
    <%= image_tag 'heading2', class: 'heading'%>
  </body>
</html>
